@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&family=Passions+Conflict&family=Sevillana&display=swap');
:root {
    --main-clr: #dcdcdc;
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --bg-text-900: #302e4d;
    --bg-text-700: #504e70;
    --clr1: #D9514E;
    --clr2: #2A2B2D;
    --clr3: #2DA8D8;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    outline: none;
    font-family: "poppins", sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    font-size: 16px;
    line-height: 1.5;
}

.main-container {
    /* display: flex;
    flex-direction: row; */
    min-height: 100vh;
}


/* Aside Start */

.aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 270px;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 30px; */
    z-index: 10;
}

aside img {}

aside nav {}

aside .logo {
    position: absolute;
    font-size: 30px;
    top: 50px;
    text-align: center;
}

aside .logo a {
    text-decoration: none;
    color: var(--bg-text-900);
    letter-spacing: 3px;
    font-size: 20px;
    padding: 15px 20px;
    font-weight: 600;
    position: relative;
}

aside .logo a span {
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    margin-right: 5px;
}

aside .logo a::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-bottom: 5px solid var(--skin-clr);
    border-left: 5px solid var(--skin-clr);
    bottom: -20px;
    left: -20px;
}

aside .logo a::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-top: 5px solid var(--skin-clr);
    border-right: 5px solid var(--skin-clr);
    top: -20px;
    right: -20px;
}

.nav-toggler {
    width: 45px;
    height: 4px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background-color: var(--bg-black-100);
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

.nav-toggler span {
    height: 2px;
    width: 10px;
    background-color: var(--skin-clr);
    position: relative;
    display: inline-block;
}

.nav-toggler span:before {
    content: '';
    height: 2px;
    width: 18px;
    background-color: var(--skin-clr);
    position: absolute;
    top: -6px;
    left: 0;
}

.nav-toggler span:after {
    content: '';
    height: 2px;
    width: 18px;
    background-color: var(--skin-clr);
    position: absolute;
    top: 6px;
    left: 0;
}

nav ul {
    padding: 0 !important;
    list-style-type: none;
}

nav ul li {
    padding: 20px 0;
    width: 9rem;
    display: block;
    position: relative;
}

nav ul li::after {
    content: "";
    position: absolute;
    width: 27%;
    height: 2px;
    left: 0;
    bottom: 10px;
    background-color: var(--skin-clr);
    transition: ease-out 0.4s;
}

nav ul li:hover:after {
    width: 100%;
}

nav ul li a:hover {
    color: var(--skin-clr);
}

nav ul li a {
    text-decoration: none;
    color: var(--clr2);
    font-size: 20px;
}

nav ul li a i {
    margin-right: 10px;
    width: 22px;
}


/* Aside End */


/* Main Start */

main {
    background-color: var(--primary-clr);
    height: 100vh;
}

.section {
    background-color: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    position: fixed;
    left: 270px;
    padding: 0 15px;
    top: 0;
    right: 0;
    opacity: 1;
    z-index: 0;
}

.container {
    max-width: 1100px;
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}


/* home section start */

.home {
    display: flex;
    color: var(--text-black-900);
    min-height: 100vh;
}

.home-info {
    max-width: 60%;
    flex: 0 0 60%;
}

.home-img {
    max-width: 40%;
    flex: 0 0 40%;
    text-align: center;
    position: relative;
}

.home-img svg {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 650px;
    filter: drop-shadow(191px 52px 500px rgba(0, 0, 0, 1));
}

.home-img img {
    width: 320px;
    z-index: 2;
    position: relative;
    border-radius: 20px;
}

.home-img:after {
    content: "";
    position: absolute;
    width: 105px;
    height: 105px;
    top: -60px;
    left: 20px;
    border-top: 10px solid var(--skin-clr);
    border-left: 10px solid var(--skin-clr);
    border-radius: 15px;
}

.home-img:before {
    content: "";
    position: absolute;
    width: 105px;
    height: 105px;
    bottom: -60px;
    right: 20px;
    border-bottom: 10px solid var(--skin-clr);
    border-right: 10px solid var(--skin-clr);
    border-radius: 15px;
}

.home-info .wlc p,
.profession {
    font-size: 35px;
    color: var(--bg-text-900);
    font-weight: 700;
    font-family: "poppins", sans-serif;
    letter-spacing: 1.5px;
}

.name {
    color: var(--skin-clr);
    font-family: "dancing script";
}

.random-typing {
    color: var(--skin-clr);
}

.interduction {
    font-weight: 600;
    color: var(--bg-text-700);
}


/* .wlc button {
    padding: 20px;
    border: none;
    background-color: var(--skin-clr);
    color: var(--bg-black-900);
    font-size: 20px;
    font-weight: 600;
    border-radius: 38px;
    margin-top: 70px;
}

.wlc button:hover {
    background-color: var(tex);
} */


/* home section end */


/* Main End */